In [1]:
import pandas as pd

import sys
sys.path.append('../../code')
from utils import calculate_circles_quick

In [6]:
slice = pd.read_csv('../../data/raw/chembl30_slice.csv')

/tmp/ipykernel_3878952/4181517134.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  slice = pd.read_csv('../../data/raw/chembl30_slice.csv')

# Calculate #Circles Metric for Ki

In [7]:
ki = slice[slice['standard_type'] == 'Ki']
top_ki_genes = ki['gene_symbol'].value_counts().head(20)
top_ki_genes

DRD2       8482
ADORA2A    7373
CA2        7280
CA1        6820
ADORA1     6717
ADORA3     5735
CNR2       5726
OPRM1      5538
HTR1A      5516
CNR1       5355
CA9        5251
HRH3       4987
DRD3       4947
HTR2A      4653
OPRD1      4514
SLC6A4     4107
CA12       4071
HTR6       3697
OPRK1      3258
ADORA2B    2828
Name: gene_symbol, dtype: int64

In [8]:
circles = []

for gene in top_ki_genes.index:
    gene_data = ki[ki['gene_symbol'] == gene]
    gene_smiles = gene_data['canonical_smiles'].to_list()
    circles.append(calculate_circles_quick(gene_smiles))

100%|██████████| 8482/8482 [00:01<00:00, 4391.63it/s]
100%|██████████| 7373/7373 [00:01<00:00, 4484.42it/s]
100%|██████████| 7280/7280 [00:01<00:00, 5531.93it/s]
100%|██████████| 6820/6820 [00:01<00:00, 5452.15it/s]
100%|██████████| 6717/6717 [00:01<00:00, 4592.59it/s]
100%|██████████| 5735/5735 [00:01<00:00, 4568.33it/s]
100%|██████████| 5726/5726 [00:01<00:00, 4739.76it/s]
100%|██████████| 5538/5538 [00:01<00:00, 3911.58it/s]
100%|██████████| 5516/5516 [00:01<00:00, 4419.15it/s]
100%|██████████| 5355/5355 [00:01<00:00, 4715.93it/s]
100%|██████████| 5251/5251 [00:01<00:00, 5195.91it/s]
100%|██████████| 4987/4987 [00:00<00:00, 5474.09it/s]
100%|██████████| 4947/4947 [00:01<00:00, 4684.79it/s]
100%|██████████| 4653/4653 [00:00<00:00, 4689.14it/s]
100%|██████████| 4514/4514 [00:01<00:00, 4022.19it/s]
100%|██████████| 4107/4107 [00:00<00:00, 5025.48it/s]
100%|██████████| 4071/4071 [00:00<00:00, 5319.22it/s]
100%|██████████| 3697/3697 [00:00<00:00, 4740.55it/s]
100%|██████████| 3258/3258 [00:00<00:00, 4395.69it/s]
100%|██████████| 2828/2828 [00:00<00:00, 4838.12it/s]

In [9]:
ki_genes_statistics = pd.DataFrame({
    'gene': top_ki_genes.index,
    'total_mols': top_ki_genes.values,
    'circles': circles
})

ki_genes_statistics

       gene  total_mols  circles
0      DRD2        8482      837
1   ADORA2A        7373      750
2       CA2        7280      900
3       CA1        6820      859
4    ADORA1        6717      667
5    ADORA3        5735      477
6      CNR2        5726      553
7     OPRM1        5538      498
8     HTR1A        5516      668
9      CNR1        5355      549
10      CA9        5251      775
11     HRH3        4987      465
12     DRD3        4947      492
13    HTR2A        4653      649
14    OPRD1        4514      384
15   SLC6A4        4107      468
16     CA12        4071      624
17     HTR6        3697      551
18    OPRK1        3258      344
19  ADORA2B        2828      254

# Calculate #Circles Metric for IC50

In [10]:
ic50 = slice[slice['standard_type'] == 'IC50']
top_ic50_genes = ic50['gene_symbol'].value_counts().head(20)
top_ic50_genes

KCNH2      11159
KDR         8826
EGFR        8814
BACE1       6220
HDAC1       5501
ACHE        5310
HSD11B1     5201
MAOB        4939
JAK2        4489
HDAC6       4377
PIK3CA      4376
BRD4        4113
PDE10A      4096
BRAF        3919
PTGS2       3844
MET         3744
TRPV1       3670
MAPK14      3551
FAAH        3523
FLT3        3430
Name: gene_symbol, dtype: int64

In [11]:
circles = []

for gene in top_ic50_genes.index:
    gene_data = ic50[ic50['gene_symbol'] == gene]
    gene_smiles = gene_data['canonical_smiles'].to_list()
    circles.append(calculate_circles_quick(gene_smiles))

100%|██████████| 11159/11159 [00:03<00:00, 3229.29it/s]
100%|██████████| 8826/8826 [00:02<00:00, 4001.46it/s]
100%|██████████| 8814/8814 [00:02<00:00, 3886.56it/s]
100%|██████████| 6220/6220 [00:01<00:00, 4394.82it/s]
100%|██████████| 5501/5501 [00:01<00:00, 4606.88it/s]
100%|██████████| 5310/5310 [00:01<00:00, 4483.46it/s]
100%|██████████| 5201/5201 [00:01<00:00, 4843.99it/s]
100%|██████████| 4939/4939 [00:00<00:00, 5753.68it/s]
100%|██████████| 4489/4489 [00:01<00:00, 4261.72it/s]
100%|██████████| 4377/4377 [00:00<00:00, 4881.30it/s]
100%|██████████| 4376/4376 [00:00<00:00, 4439.69it/s]
100%|██████████| 4113/4113 [00:00<00:00, 4586.64it/s]
100%|██████████| 4096/4096 [00:00<00:00, 4621.39it/s]
100%|██████████| 3919/3919 [00:00<00:00, 4462.95it/s]
100%|██████████| 3844/3844 [00:00<00:00, 5237.63it/s]
100%|██████████| 3744/3744 [00:00<00:00, 3897.03it/s]
100%|██████████| 3670/3670 [00:00<00:00, 5027.30it/s]
100%|██████████| 3551/3551 [00:00<00:00, 4459.57it/s]
100%|██████████| 3523/3523 [00:00<00:00, 5195.87it/s]
100%|██████████| 3430/3430 [00:00<00:00, 4146.38it/s]

In [12]:
ic50_genes_statistics = pd.DataFrame({
    'gene': top_ic50_genes.index,
    'total_mols': top_ic50_genes.values,
    'circles': circles
})

ic50_genes_statistics

       gene  total_mols  circles
0     KCNH2       11159     2128
1       KDR        8826      791
2      EGFR        8814      773
3     BACE1        6220      532
4     HDAC1        5501      715
5      ACHE        5310      663
6   HSD11B1        5201      423
7      MAOB        4939      656
8      JAK2        4489      492
9     HDAC6        4377      613
10   PIK3CA        4376      433
11     BRD4        4113      457
12   PDE10A        4096      380
13     BRAF        3919      313
14    PTGS2        3844      533
15      MET        3744      402
16    TRPV1        3670      314
17   MAPK14        3551      400
18     FAAH        3523      378
19     FLT3        3430      372

# Calculate #Circles Metric for the HIV Dataset

In [13]:
hiv = pd.read_csv('../../data/raw/HIV.csv')
hiv

                                                  smiles activity  HIV_active
0      CCC1=[O+][Cu-3]2([O+]=C(CC)C1)[O+]=C(CC)CC(CC)...       CI           0
1      C(=Cc1ccccc1)C1=[O+][Cu-3]2([O+]=C(C=Cc3ccccc3...       CI           0
2                       CC(=O)N1c2ccccc2Sc2c1ccc1ccccc21       CI           0
3        Nc1ccc(C=Cc2ccc(N)cc2S(=O)(=O)O)c(S(=O)(=O)O)c1       CI           0
4                                 O=S(=O)(O)CCS(=O)(=O)O       CI           0
...                                                  ...      ...         ...
41122  CCC1CCC2c3c([nH]c4ccc(C)cc34)C3C(=O)N(N(C)C)C(...       CI           0
41123  Cc1ccc2[nH]c3c(c2c1)C1CCC(C(C)(C)C)CC1C1C(=O)N...       CI           0
41124  Cc1ccc(N2C(=O)C3c4[nH]c5ccccc5c4C4CCC(C(C)(C)C...       CI           0
41125  Cc1cccc(N2C(=O)C3c4[nH]c5ccccc5c4C4CCC(C(C)(C)...       CI           0
41126  CCCCCC=C(c1cc(Cl)c(OC)c(-c2nc(C)no2)c1)c1cc(Cl...       CI           0

[41127 rows x 3 columns]

In [14]:
calculate_circles_quick(hiv['smiles'])

 85%|████████▌ | 35128/41127 [01:15<00:34, 175.37it/s] [14:41:07] WARNING: not removing hydrogen atom without neighbors
[14:41:07] WARNING: not removing hydrogen atom without neighbors
100%|██████████| 41127/41127 [01:55<00:00, 357.22it/s]

19222